<%- include('header'); %>

<%- include('nav'); %>  

    

      <header class="py-5 bg-image-full gradient">
        <div class="text-center my-5">

        </div>
      </header>

      <div class="container bg-white">
        <div class="row">

          <aside class="col-3 bg-image-full" style="min-height: 100vh; background-image: url('./images/img/louise-lyshoj-WHJTaLqonkU-unsplash.jpg')">
          </aside>
          
          <main class="col-9 p-4 d-flex justify-content-center align-items-top">
            <div class="container-fluid">
              <p class="text-center polecane fw-bold h4 py-2 mb-5 w-75 mx-auto">Polecane produkty:</p>

              <div class="row">
                <div class="col-lg-4 mb-5 shadow-sm">
                  <img src="./images/img/b_1614166614_chleb piastowskis2.jpg" width="100%" height="140">
                  <h4 class="mt-2">Chleb piastowski</h4>
                </div><!-- /.col-lg-4 -->
                <div class="col-lg-4 mb-5 shadow-sm">
                  <img src="./images/img/b_1595491273_razowy chleb newm.jpg" width="100%" height="140">
                  <h4 class="mt-2">Chleb razowy</h4>
                </div><!-- /.col-lg-4 -->
                <div class="col-lg-4 mb-5 shadow-sm">
                  <img src="./images/img/b_1594293460_babeczka malinowas.jpg" width="100%" height="140">
                  <h4 class="mt-2">Babeczka malinowa</h4>
                </div><!-- /.col-lg-4 -->
                <div class="col-lg-4 shadow-sm">
                  <img src="./images/img/b_1630055516_jagodzianka przekrojona.jpg" width="100%" height="140">
                  <h4 class="mt-2">Jagodzianka</h4>
                </div><!-- /.col-lg-4 -->
                <div class="col-lg-4 shadow-sm">
                  <img src="./images/img/b_1633695417_ciasto_jesienne s.jpg" width="100%" height="140">
                  <h4 class="mt-2">Ciasto jesienne</h4>
                </div><!-- /.col-lg-4 -->
                <div class="col-lg-4 shadow-sm">
                  <img src="./images/img/b_1590749807_bagietka z oliwkamis.jpg" width="100%" height="140">
                  <h4 class="mt-2">Bagietka z oliwkami</h4>
                </div><!-- /.col-lg-4 -->
              </div><!-- /.row -->
            </div><!-- /.container -->
          

          </main>
          
        </div>
      </div>

      <%- include('footer'); %>  
